/*styling the background of page*/
body {
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;

 
}
/* center the main content*/
.start-prompt {
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
}
/*style the start btn*/
#start-btn button {
    background-color: gray;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    
}
/*style the quesition buttons*/
.btn {
    background-color: gray;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
}
#question{
    font-size: 30px;
}
/*hide questions until start button clicked*/
.container{
    display: none;
}

/*make hide style for when you start button clicked*/
.hide {
    display: none;

}
